repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.18.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  # Docformatter 1.7.5 isn't compatible with Pre-commit 4.0
  # - repo: https://github.com/myint/docformatter
  #   rev: v1.7.5
  #   hooks:
  #   - id: docformatter
  #     args: [--in-place]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.8.0
    hooks:
    - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
