name: CI
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: "1"

jobs:
  pretest:
    name: Pre-test checks
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.X"
      - name: Lint with prek
        uses: j178/prek-action@v1.0.11

  package:
    name: Package
    runs-on: "macOS-latest"
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --group tox
    - name: Build packaging artefacts
      run: |
        tox -e package

  unit-tests:
    name: Unit tests
    needs: pretest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14", "3.15" ]
        macOS-version: [
            # x86_64 runners
            "macos-15-intel",
            # M1 runners
            "macos-latest",
        ]

    runs-on: ${{ matrix.macOS-version }}
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --group tox
    - name: Test
      run: |
        tox -e py
